.categories {
  padding: 0 20px;

  @media (min-width: 744px) {
    padding: 0 72px;
  }

  @media (min-width: 1260px) {
    padding: 0 120px;
  }
}

.categories__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.categories__pictures {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  width: 100%;
}

.categories__link {
  display: block;
  flex-grow: 1;
}

.categories__picture {
  display: block;
  min-width: 130px;
}

.categories__img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.4s ease-in-out;
}

.categories__picture:hover .categories__img {
  transform: scale(1.06);
}

.categories__item-title {
  margin: 16px 0 0;
  font-size: 18px;
  line-height: 140%;
}

.categories__btn {
  text-decoration: none;

  @media (min-width: 1260px) {
    max-width: 324px;
  }
}
