.footer {
  padding: 64px 20px;
  display: flex;
  flex-direction: column;

  @include on-tablet {
    padding: 120px 74px;
  }

  @include on-desktop {
    padding: 120px;
  }

  &__wrapper {
    margin: 48px 0 0;
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include on-tablet {
      gap: 80px;
    }

    @include on-desktop {
      flex-direction: row;
      gap: 112px;
    }
  }

  &__row {
    background-color: #fff;
    z-index: 1;
    flex: 1;
  }

  &__list {
    position: sticky;
    bottom: 0;
    z-index: 0; /* with z-index: -1 footer unclickable */

    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__title {
    display: block;
    font-size: 14px;
    letter-spacing: 0.15px;
    line-height: 140%;
    color: #9393a3;
  }

  &__link {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 1.4;
    color: #191919;
  }

  &__link:hover {
    color: #f98921;
  }
}
