.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form__input {
  padding: 14px 16px;
  background-color: #f9f9f9;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  letter-spacing: 0.15px;
  border: none;
  border-radius: 8px;
  color: #1b2129;
  line-height: 1.4;
}

.form__input:hover {
  outline: 1px solid #dbdbdb;
}

.form__input:focus {
  outline-color: #f98921;
}

.form__input::placeholder {
  font-family: Manrope, sans-serif;
  font-size: 14px;
  letter-spacing: 0.15px;
  color: #7e7e83;
}

.form__input:hover::placeholder {
  color: #1b2129;
}

.form__input--textarea {
  field-sizing: content;
  min-height: 148px;
  resize: none;
}

.form__submit {
  margin-top: 16px;
}
