.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__input {
    padding: 14px 16px;
    background-color: #f9f9f9;
    font-family: Manrope, sans-serif;
    font-size: 14px;
    letter-spacing: 0.15px;
    border: none;
    border-radius: 8px;
    color: #1b2129;
    line-height: 1.4;
  }

  &__input:hover {
    outline: 1px solid #dbdbdb;
  }

  &__input:focus {
    outline-color: #f98921;
  }

  &__input::placeholder {
    font-family: Manrope, sans-serif;
    font-size: 14px;
    letter-spacing: 0.15px;
    color: #7e7e83;
  }

  &__input:hover::placeholder {
    color: #1b2129;
  }

  &__input:autofill {
    font-family: Manrope, sans-serif;
    font-size: 14px;
    letter-spacing: 0.15px;
    font-weight: 400;
    box-shadow: 0 0 0 30px #f9f9f9 inset;
    -webkit-text-fill-color: #191919;
  }

  &__input--textarea {
    field-sizing: content;
    min-height: 148px;
    resize: none;
  }

  &__submit {
    margin-top: 16px;
  }
}
