.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include on-tablet {
    height: 32px;
    width: 32px;
  }

  &:hover {
    transform: scale(1.08);
  }

  &--phone {
    background-image: url('../images/icons/icon-phone.svg');
    transition: all 0.4s ease;
  }

  &--menu {
    background-image: url('../images/icons/icon-burger-menu.svg');
    transition: all 0.4s ease;
  }

  &--menu:hover {
    background-image: url('../images/icons/icon-burger-menu-hover.svg');
  }

  &--close {
    background-image: url('../images/icons/icon-close.svg');
    transition: all 0.4s ease;
  }
}
