.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: 744px) {
    height: 32px;
    width: 32px;
  }
}

.icon:hover {
  transform: scale(1.08);
}

.icon--phone {
  background-image: url('../../images/icons/icon-phone.svg');
  transition: all 0.4s ease;
}

.icon--menu {
  background-image: url('../../images/icons/icon-burger-menu.svg');
  transition: all 0.4s ease;
}

.icon--menu:hover {
  background-image: url('../../images/icons/icon-burger-menu-hover.svg');
}

.icon--close {
  background-image: url('../../images/icons/icon-close.svg');
  transition: all 0.4s ease;
}
