.main {
  display: flex;
  flex-direction: column;
  gap: 96px;

  &-title {
    margin: 0;
    font-size: 32px;
    line-height: 1;

    @include on-tablet {
      font-size: 40px;
    }

    @include on-desktop {
      font-size: 48px;
    }
  }

  &__recommended-list {
    margin: 48px 0 0;

    @include on-tablet {
      margin: 56px 0 0;
    }
  }

  &__categories-list {
    margin: 48px 0 0;

    @include on-tablet {
      margin: 56px 0 0;
    }
  }
}
