.phone {
  display: flex;

  &__number {
    text-decoration: none;
    align-self: center;
    font-family: Inter, sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 12px;
    color: #1b2129;
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.4s ease;
    max-width: 0;
  }

  &__number:hover {
    color: #f98921;
  }

  @include on-desktop {
    &:hover &__number {
      opacity: 1;
      max-width: fit-content;
      margin-right: 8px;
    }
  }
}
