.recommended {
  padding: 0 20px;

  @media (min-width: 744px) {
    padding: 0 72px;
  }

  @media (min-width: 1260px) {
    padding: 0 120px;
  }
}

.recommended__title {
  margin: 64px 0 0;

  @media (min-width: 744px) {
    margin: 120px 0 0;
  }
}

.recommended__list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media (min-width: 1260px) {
    flex-direction: row;
  }
}

.recommended__item {
  flex: 1;
}

.recommended__picture {
  display: block;
  width: 100%;
}

.recommended__img {
  display: block;
  width: 100%;
  border-radius: 8px;
  transition: transform 0.4s ease-in-out;
}

.recommended__picture:hover .recommended__img {
  transform: scale(1.08);
}

.recommended__item-title {
  margin: 20px 0 0;
  font-size: 18px;
  line-height: 140%;
}

.recommended__desc {
  margin: 8px 0 0;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 140%;
}

.recommended__price {
  display: block;
  margin: 12px 0 0;
  font-size: 16px;
  font-weight: 700;
}
