.recommended {
  padding: 0 20px;

  @include on-tablet {
    padding: 0 72px;
  }

  @include on-desktop {
    padding: 0 120px;
  }

  &__title {
    margin: 64px 0 0;

    @include on-tablet {
      margin: 120px 0 0;
    }
  }

  &__list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @include on-desktop {
      flex-direction: row;
    }
  }

  &__item {
    flex: 1;
  }

  &__picture {
    display: block;
    width: 100%;
  }

  &__img {
    display: block;
    width: 100%;
    border-radius: 8px;
    transition: transform 0.4s ease-in-out;
  }

  &__picture:hover &__img {
    transform: scale(1.08);
  }

  &__item-title {
    margin: 20px 0 0;
    font-size: 18px;
    line-height: 140%;
  }

  &__desc {
    margin: 8px 0 0;
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 140%;
  }

  &__price {
    display: block;
    margin: 12px 0 0;
    font-size: 16px;
    font-weight: 700;
  }
}
