.top-bar {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding: 36px 72px;
  }

  @include on-desktop {
    padding: 36px 120px;
  }

  &__icons {
    display: flex;
    gap: 24px;

    @include on-tablet {
      gap: 32px;
    }
  }

  &__picture {
    display: block;
    max-width: 152px;

    @include on-tablet {
      max-width: 228px;
    }
  }

  &__logo {
    display: block;
    width: 100%;

    transition: transform 0.4s ease-in-out;
  }

  &__picture:hover &__logo {
    transform: scale(1.08);
  }
}
