.top-bar {
  padding: 24px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 744px) {
    padding: 36px 72px;
  }

  @media (min-width: 1260px) {
    padding: 36px 120px;
  }
}

.top-bar__icons {
  display: flex;
  gap: 24px;

  @media (min-width: 744px) {
    gap: 32px;
  }
}

.top-bar__picture {
  display: block;
  max-width: 152px;

  @media (min-width: 744px) {
    max-width: 228px;
  }
}

.top-bar__logo {
  display: block;
  width: 100%;

  transition: transform 0.4s ease-in-out;
}

.top-bar__picture:hover .top-bar__logo {
  transform: scale(1.08);
}
